# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.idea/

# Env
.env
app/.env

# Logs
logs/

# Celery
celerybeat-schedule
celerybeat.pid

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3
